main {
  margin: 0 auto;
  max-width: 90%;
}

:root {
  --primary: #17bebb;
  --secondary: #cd5334;
  --tertiary: #edb88b;
  --light: #fad8d6;
  --dark: #272626;
  --darker: #111111;
  --gradient: linear-gradient(to right, #edb88b, #cd5334);
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: var(--light);
  font-family: system-ui;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: var(--darker);
  box-shadow: inset 0 0 4px var(--dark);
}

body::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--dark);
  padding: 5px;
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--primary);
  color: var(--light);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 10px;
}

footer div {
  margin: 10px;
}

footer div a {
  padding: 10px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

a {
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.error-text {
  color: var(--error);
}

.active {
  color: var(--secondary);
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  overflow: hidden;
  shape-outside: circle();
  float: left;
  margin-right: 20px;
}

.circle img {
  width: 200px;
}

.tile {
  width: 350px;
  margin: 5px;
  position: relative;
  border: var(--darker) solid 2px;
  border-radius: 10px;
}

.tile-img {
  width: 100%;
  position: relative;
  height: 250px;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile-body {
  width: 100%;
  text-align: center;
}

.tile-footer {
  display: flex;
  justify-content: space-evenly;
}

.resume {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.resume div {
  margin-bottom: 50px;
}
